.button-generate-exercise {
  position: relative;
  width: 165px;
  height: 55px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 16.5px;
  gap: 16.5px;
  border-radius: 11px;
  cursor: pointer;
  font-size: 19.8px;
}

.button-generate-exercise::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -9.5px;
  top: -1.375px;
  margin: auto;
  width: 184px;
  height: 74px;
  border-radius: 13.75px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button-generate-exercise::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(1.1);
  filter: blur(27.5px);
}

.button-generate-exercise:hover::after {
  filter: blur(41.25px);
}

.button-generate-exercise:hover::before {
  transform: rotate(-180deg);
}

.button-generate-exercise:active::before {
  scale: 0.875;
}
