.edit-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #007bff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  overflow: hidden;
  transition: background 200ms;
  position: relative;
  margin-bottom: 10px;
}

.edit-button .text {
  color: white;
  font-weight: bold;
  transition: transform 200ms, opacity 200ms;
}

.edit-button .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #004289;
  padding-left: 6px;
  margin-left: 10px;
  margin-right: -16px;
  transition: transform 200ms, border-left 200ms;
}

.edit-button .icon i {
  font-size: 16px;
  color: #eee;
  transition: transform 200ms;
}

.edit-button:hover {
  background: #0056b3;
}

.edit-button:hover .text {
  transform: translateX(-100%);
  opacity: 0;
}

.edit-button:hover .icon {
  border-left: none;
  margin-left: 0;
  transform: translateX(-80%);
}

.edit-button:focus {
  outline: none;
}

.edit-button:active i {
  transform: scale(0.8);
}